{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    About project
{% endblock %}
{% block content %}
    <section class="sec2"></section>
<article class=" pt-5 container pb-2">
                <h2 class="pb-3 d-flex  text-center justify-content-center"><span class="hr_short">About project</span></h2>
                <div class=" row no-gutters">
                    <div class="p-4 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="  d-flex flex-column">
                                <p class="text1">The <strong>scope</strong> of the project comprises of an assessment of landslide hazards based on the monitoring and modelling of these processes in the Kyiv region using integrated techniques. In this project two approaches are used for the assessment and predictions of landslide hazards. </p>
                                <p class="text1"> The <em>first</em> one will be based on GIS and statistical analysis of geo-environmental factors related to the occurrence of landslides in the study area. Statistic techniques including factor analysis and weight factors analysis will be used. Based on the results of the analysis of reference landslide area, landslide susceptibility maps will be prepared.</p>
                                <p class="text1">The <em>second</em> approach reveals the field work, monitoring and numerical modelling of landslide activity for the local predictions using geological and geophysical methods. Results from this project will be used by governmental and local administrative groups in infrastructure planning and risk assessments.

 </p>
                                <p class="text1"> The outcome of the assessment would be the measurement of an impact of these processes on the building, transport, recreational infrastructure. This research addresses the  areas of “sustainable cities and communities” and “resilience and action on short-term environmental shocks and long-term environmental change”. It will enable the fundamental research tools developed at City to be strategically deployed to tackle the challenges and the destructive effects of landslides.  Simultaneously, it will investigate socio-cultural effects on the perception of risk to develop more efficient and robust mitigation systems. </p>
                                <p class="text1">Training students in using geophysical, geotechnical, geological and geoinformation methods and equipment to resolve ecological and monitoring geohazards task are planning.  </p>
                                <hr>
                                <p class="text1 text-underline"> <strong>Duration - 01, September 2019-31,August 2020</strong></p>
                                <p class="text1">Project is executed by Institute of Geology, Taras Shevchenko National University of Kyiv and by City University of London. It is funded by City University of London as part of the Global Challenges Research Fund (GCRF) competition.</p>
                            </div>
                    </div>
                </div>
     </article>

{% endblock %}