{% extends "aside.html" %}

{% load staticfiles %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block aside %}
            <div class=" col-lg-7 col-md-6 col-sm-12 col-12 bg-white ">
             <div class="slider">
                <div class="slides pb-2">
                    {% for i in foto %}
                         <img src="{{ i.foto.url }}" class="card-img-top pr-4" width="100%" height="auto">
                    {% endfor %}
                 </div>

              </div>
                <div class="card-body">
                    <div class="d-flex flex-row icon" >
                        <a href="#"><i class=" fab fa-telegram-plane pr-4 " ></i></a>
                        <a href="#" class="mr-auto"> <i class=" fab fa-twitter pr-4  "></i></a>
                        <p class="card-text text"><i class="far fa-calendar-alt pr-1"></i>{{ article.date|date:"d-m-Y" }}</p>
                    </div>
                    <h4 class="card-title pt-4 my-sm-2">{{ article.title }}</h4>
                </div>
                <div class="card-body text1 text-justify">
                        {{ article.text|linebreaks}}
                  </div>
             </div>
{% endblock %}


