{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link href="{% static  "style.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<meta charset="UTF-8">
<title>Landslide_main_page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        <div class="d-flex flex-grow-1">
            <a class="navbar-brand d-lg-inline-block" href="#">
                <img src='{% static "logo_main.png" %}' class="w-100">
            </a>
            <div class="w-100 text-right pt-2">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse  text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a href="#" class="n m-2 menu-item nav-active">Blog</a>
                </li>
                <li class=" dropdown">
            <a class="nd dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Output
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="nd" href="#">Action</a>
              <a class="nd" href="#">Another action</a>
              <a class="nd" href="#">Something else here</a>
            </div>
          </li>
                <li class="nav-item ">
                    <a href="#" class="n m-2 menu-item">News</a>
                </li>
                <li class="nav-item  ">
                    <a href="#" class=" n  m-2 menu-item">Events</a>
                </li>
            </ul>
        </div>
    </nav>

<section class="sec1">
    <div class="col-lg-7 d-flex flex-column pt-5  ">
        <h2>Building landslide-resilient communities</h2>
        <p>The scope of the project comprises of an assessment of landslide hazards based on the monitoring and modelling of these processes in the Kyiv region using integrated techniques. In this project two approaches are used for the assessment and predictions of landslide hazards.</p>
        <p>The first one will be based on GIS and statistical analysis of geo-environmental factors related to the occurrence of landslides in the study area.</p>
    </div>
</section>

<main class="mt-5">
    <div class=" d-lg-flex p-3 flex-lg-row flex-md-column flex-sm-column mt-3">
        <div class = "col-lg-6 mb-4 "><img src="{% static "4.jpg" %}" class="w-100"></div>
        <div class = "col-lg-5 ">
            <h3>Landslide hazards in Ukraine</h3>
            <div class="hr_short"><hr></div>
            <p class="text"> Landslides are the major natural hazard in the Ukraine. Over 23100 landslides were recorded by 2018 in Ukraine with the number of landslides has increased by 1.3 times in the last 15 years, and by 3 times over the last 30 years. It is important for the community to be informed of potential geohazards that may affect their wellbeing. A better understanding of the spatial distribution of landslide hazards will help guide environmental protection policies in the Kyiv region. </p>
            <button class="mybutton">show more</button>
        </div>
    </div>
</main>


<article class="mt-5">
    <div class=" pt-5">
        <div class="pl-4">
            <h3>Latest news</h3>
            <div class="hr_short"><hr></div>
        </div>
                    <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-column">
                        <div class="p-4">
                          <div class="card border-primary">
                            <img src="{% static "12regnum_picture_15512375151867985_normal-100.jpg" %}" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                             <p class="card-text text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex flex-row">
                                 <a href = "#" class="mr-auto">Continue reading</a>
                             <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            </div>
                          </div>
                        </div>
                        <div class="p-4">
                          <div class="card border-primary">
                            <img src="{% static "12regnum_picture_15512375151867985_normal-100.jpg" %}" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                             <p class="card-text text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                             <div class="d-flex flex-row">
                                 <a href = "#" class="mr-auto">Continue reading</a>
                             <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                          </div></div>
                        <div class="p-4">
                          <div class="card border-primary">
                            <img src="{% static "12regnum_picture_15512375151867985_normal-100.jpg" %}" class="card-img-top" alt="...">
                         <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                             <p class="card-text text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <div class="d-flex flex-row">
                                 <a href = "#" class="mr-auto">Continue reading</a>
                             <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                            </div>
                          </div>
                        </div>
                </div>
        <div class="p-4"><button class="mybutton">show more</button></div>
    </div>
    <div class="about pt-5">
            <div class="pl-4">
                <h3>About us</h3>
                <div class="hr_short"><hr></div></div>
                <div class="d-flex flex-lg-row flex-md-column flex-sm-column flex-column">
                    <div class="p-4">
                        <div class="p-4 d-flex flex-column">
                            <i class="fas fa-flask fa-4x text-center"></i>
                        </div>
                    <div class="card border-primary">
                        <div class="card-body d-flex flex-column ">
                            <h3 class="text-center pb-3">International collaborations</h3>
                            <p class="text">International collaboration is one of the most important cross-cutting work streams of this project. TSNUK and CITY is the main membership of project. </p>
                        </div>
                    </div>
                    </div>
                    <div class="p-4">
                        <div class="p-4 d-flex flex-column">
                            <i class="fas fa-university fa-4x text-center"></i>
                        </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            <h3 class="text-center mb-5 mt-2">City, University of London</h3>
                            <p class="text">City, University of London (CITY) is a principal provider of undergraduate, postgraduate, professional
and vocational education in the United Kingdom.</p>
                        </div>
                    </div>
                    </div>
                    <div class="p-4">
                        <div class="p-4 d-flex flex-column">
                           <i class="fas fa-globe fa-4x text-center border-i"></i>
                        </div>
                    <div class="card border-primary">
                        <div class="card-body">
                            <h3 class="text-center mb-3 mt-1">Taras Shevchenko National University of Kyiv</h3>
                            <p class="text">Taras Shevchenko National University of Kyiv is a classic university with a distinct research profile,
and the leading contemporary academic and educational hub of Ukraine.</p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="p-4"><button class="mybutton">show more</button></div>
            </div>


</article>
    <footer>
        <div class="d-flex mt-4 flex-lg-column flex-md-column flex-sm-column flex-column justify-content-between">
            <ul class="d-flex flex-lg-row flex-md-row flex-sm-row flex-row justify-content-start">
                <li class="text pr-2 list-unstyled"><a href="#" class="li-dec">About project</a></li>
                <li class="text  pr-2 list-unstyled"><a href="#" class="li-dec">Contact</a></li>
                <li class="text  list-unstyled"><a href="#" class="li-dec">Support</a></li>
            </ul>
            <ul class="d-flex flex-lg-row flex-md-row flex-sm-row flex-row justify-content-start " >
                <li class="text  pr-4 list-unstyled"><a href="#" class="li-dec"><i class="fab fa-twitter"></i></a></li>
                <li class="text pr-4 list-unstyled"><a href="#" class="li-dec"><i class="fab fa-telegram-plane"></i></a></li>
                <li class="text list-unstyled"><a href="#" class="li-dec"><i class="fab fa-facebook-f"></i></a></li>
            </ul>
            <ul class="d-flex flex-lg-row flex-md-row flex-sm-row flex-row justify-content-start">
                <li class="text pr-2 list-unstyled">phone  308 000 12 01</li>
                <li class="text pr-4 list-unstyled">e-mail example.com</li>
            </ul>
            <div class="d-flex flex-column justify-content-start ">
                <ul>
                <li class="text list-unstyled">2019 Landslide all rigths are reserved</li>
                </ul>
            </div>
        </div>
    </footer>
</body>

</html>