{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
    {{ geol.values }}
{% endblock %}
{% block content %}
    <script>
         $(document).ready(function(){
        // Add minus icon for collapse element which is open by default
        $(".collapse.show").each(function(){
        	$(this).prev(".card-header").find(".fa").addClass("fa-minus").removeClass("fa-plus");
        });

        // Toggle plus minus icon on show hide of collapse element
        $(".collapse").on('show.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-plus").addClass("fa-minus");
        }).on('hide.bs.collapse', function(){
        	$(this).prev(".card-header").find(".fa").removeClass("fa-minus").addClass("fa-plus");
        });
    });
    </script>
    <h2 class="pt-3 d-flex  text-center justify-content-center">{% for i in titl %}{{ i.type }}</h2><div class="hr_short"></div>
    <div class="mx-lg- mx-2 py-5 row">
        <div class="col-lg-6 col-sm-12 my-sm-3 my-3 py-lg-0">
            <h4 class="text-center">Main objects</h4>
            <div id="accordion" class="myaccordion">
              <div class="card">
                  {% for ge in geol %}
                <div class="card-header" id="headingOne">
                  <h2 class="mb-0">
                    <button class="d-flex align-items-center  btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne{{ ge.pk }}" aria-expanded="false" aria-controls="collapseOne">
                     <i class="fa fa-plus pr-3"></i>  {{ ge.name }}
                    </button>
                  </h2>
                </div>
                <div id="collapseOne{{ ge.pk }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body pl-4 text1">
                      <div class="d-flex align-items-center pt-2">
                          <i class="fas fa-map-marker-alt pr-3 n"></i>
                          <span class="pr-2">{{ ge.x_coord }}</span>
                          <span> {{ ge.y_coord }}</span>
                      </div>
                      <div class="pt-2">
                          <div>{{ ge.adress }}</div>
                          <div class="pt-2">{{ ge.desciption }}</div>

                      </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
            </div>
        </div>
        <div class=" col-lg-6 col-12 px-0 mx-0">
            {% if i.type == "Kyiv" %}
            <iframe src="https://www.google.com/maps/d/embed?mid=17VG4qJVDXndhWfZZPAsfN3fAwGYt8e4O&hl=ru" width="100%" height="600" frameborder="1" style="border:0" allowfullscreen=""></iframe>
            {% endif %}
            {% if i.type == "Karpaty" %}
           <iframe src="https://www.google.com/maps/d/embed?mid=10g5HEeMr8dnCSsvQuRH2RgFo6tPkPTZt" width="640" height="480"></iframe>
            {% endif %}
        </div>
    </div>

{% endfor %}




{% endblock %}