{% extends "base_ua.html" %}
{% load staticfiles %}
{% block title %}
    {{ partner_detailed.title }}
{% endblock %}
{% block aside %}
    <div class="  p-sm-2 p-lg-2 col-lg-7 col-md-12 col-sm-12 col-12 bg-white ">
        <div class="px-lg-5 px-md-5 ">
            <a href="{{ partner_detailed.link_to_website }}"><img src="{{ partner_detailed.image_about.url }} " class="card-img-top" width="100%" height="auto"></a>
                <div class="card-body px-sm-3">
                    <h4 class="card-title pt-4 my-sm-2">{{ partner_detailed.title }}</h4>
                </div>
                <div class="card-body text1 text-justify">
                        {{ partner_detailed.text|linebreaks}}
                </div>
    </div>
    </div>
{% endblock %}