{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
       Our team
{% endblock %}
{% block content %}

    <div class="py-3 d-flex  flex-column text-center justify-content-center  ">
            <h2 class="d-flex justify-content-center">Our team</h2>
        <div class="hr_short"></div>


        </div>

    <div   class="slider pb-5">
      <div class="d-flex slides pb-3 px-2" id = "horizontal-scroller" >
        {% for team in team_person %}
            <div class="card  hover-card col-sm-12 col-lg-3 col-12 col-md-4">
                  <img src="{{ team.personal_image.url }}" class="card-img-top " width="100%" height="auto" alt="...">
                  <div class="card-body">
                      <h4 class="card-title"><a href="{% url "each_team" team.id %}">{{ team.current_position }} </a></h4>
                     <div class="d-flex ">
                         <h5 class="card-title mr-auto"><a href="{% url "each_team" team.id %}">{{ team.first_name }}</a></h5>
                          <a href="{{ team.email }}"><span>  <i class="fas fa-envelope pr-3"></i></span></a>
                          <a href="{{ team.link_facebook }}"><span> <i class="fab fa-facebook-f "></i></span></a>
                     </div>
                      <h5 class="card-title"><a href="{% url "each_team" team.id %}">{{ team.last_name }}</a></h5>
                    <p class="card-text text1">{{ team.cur_pos }}</p>
                    <a href="{% url "each_team" team.id %}">Read more <i class="fas fa-arrow-right align-middle"></i></a>
                  </div>
                </div>

        {% endfor %}
   </div>
    </div>


{% endblock %}
