{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
       Our team
{% endblock %}
{% block content %}

    <div class="py-5 d-flex  flex-column text-center justify-content-center  ">
        <h2 class="d-flex justify-content-center">Our team</h2>
        <div class="hr_short"></div>
    </div>

    <div   class="slider1 pb-5">
      <div class="d-flex slides pb-3 px-2" id = "horizontal-scroller" >
        {% for team in team_person %}
            <div class="card  hover-card col-sm-6 col-lg-3 col-12 col-md-4">
                  <img src="{{ team.personal_image.url }}" class="card-img-top " width="100%" height="auto" alt="...">
                  <div class="card-body">
                      <div class="d-flex flex-row">
                           <div class="mr-auto">
                               <h5><a href="{% url "each_team_ua" team.id %}">{{ team.first_name }} {{ team.last_name }}</a></h5>
                           </div>
                          <div>
                              <a href="mailto:{{ team.email }}"><span>  <i class="fas fa-envelope pr-3 mt-1 pt-1"></i></span></a>
                          </div>
                          <div>
                              <a href="{{ team.link_okid }}"><span> <img class="mt-1" src="https://orcid.org/sites/default/files/images/orcid_16x16(1).gif" width="16" height="16" alt="iD icon" border="0"></span></a>
                          </div>
                      </div>
                          <div class="d-flex align-items-center">
                            <h5>{{ team.current_position }}</h5>
                     </div>
                     <p class="card-text text1">{{ team.cur_pos }}</p>
                     <a href="{% url "each_team" team.id %}">Read more <i class="fas fa-arrow-right align-middle"></i></a>
                  </div>
                </div>

        {% endfor %}
      </div>
    </div>


{% endblock %}
