{% extends "base_ua.html" %}
{% load staticfiles %}
{% block title %}
    Головна
{% endblock %}
{% block content %}

{% for block in main_blocks %}
<section class="sec1">
    <div class="col-lg-8 text-center offset-lg-2 d-flex flex-column pt-5 pb-5">
        <h2 class="pb-3 py-5">{{ block.first_block_title_ua }}</h2>
        <p class="d-none d-sm-none d-md-block">{{ block.first_block_text_ua }}</p>
    </div>
</section>

<main>
    <div >
        <div class="shadow bg-white ">
            <div class="row no-gutters ">
            <div class = "col-lg-6"><img src="{% static "4.jpg" %} " class="w-100"></div>
            <div class = "col-lg-6 px-5 pt-5 text-center">
                <h2 class="pb-3"><span class="hr_short">{{ block.second_block_title_ua }}</span></h2>
                <p class="text pt-4 text-justify"> {{ block.second_block_text_ua }} </p>
                <div class="py-4">
                    <div class=" w-100 d-flex text-center justify-content-center"><button class="mybutton" ><a href="{% url "about_ua" %}">Дізнатись більше</a></button></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>

{% endfor %}
        <article class=" pt-5 container pb-2">
                <div class=" row no-gutters">
                    {% for item in about %}
                    <div class="p-4 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="card hover-card1">
                            <div class="card-body d-flex flex-row">
                                <div class="p-3 pt-3">{{ item.icon|safe }}</div>
                                <div>
                                    <h5 class="px-4 py-3">{{ item.title_ua }}</h5>
                                    <p class="text1 px-4">{{ item.text_ua }}dfg dsfgdfg sdfg sdf gdsffg dsfg dsfg dsf gdasdf asd fasd fsad fdsa fsad f sad fsad f</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
     </article>
<article class="pt-4 pb-4 ">
    <div class=" pt-5 p-2">
        <div class="pb-5 d-flex  flex-column text-center justify-content-center">
            <h2 class="d-flex justify-content-center"><span class="hr_short">Новини</span></h2>
        </div>
    <div class="container">
    <div class="row no-gutters ">
                {% for article in articles %}
                        <div class=" py-2 px-lg-2  col-lg-6 col-md-6 col-sm-12 col-12">
                          <div class="card hover-card shadow">
                              <a href={% url  "article_ua" article.title %} ><img src="{{ article.image.url }} " class="card-img-top" width="100%" height="auto"></a>
                              <div class="card-body">
                                  <h4 class="card-title pt-4 p-2 "><a href="{% url "article_ua" article.title %}">{{ article.title_ua|title }}</a></h4>
                                <p class="card-text text1 p-2">{{ article.short_text|safe }}</p>
                                <div class="d-flex flex-row p-2">
                                    <a href = "{% url  "article_ua" article.title %}" class="mr-auto">Читати далі <i class="fas fa-arrow-right align-middle"></i></a>
                                    <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt pr-1"></i>{{ article.date|date:"d-m-Y" }}</small></p>
                                </div>
                              </div>
                          </div>
                        </div>

                {% endfor %}
        </div>
    </div>
    </div>
    <div class=" pt-5 w-100 d-flex text-center justify-content-center"><a href="{% url "news" %}"><button class="mybutton">Більше новин</button></a></div>
</article>


{% endblock %}