{% extends "base_ua.html" %}
{% block title %}
    Результати
{% endblock %}
{% block content %}
    <h4 class="p-4 mx-lg-3">Результат по обраному запиту : {{ q }}</h4>
    <h6 class="px-4 pb-2 mx-lg-3">Знайдено: {{ count_fin }}</h6>
         {% if article %}
             <div class="row mx-lg-4 mx-2">
            {% for i in article %}
                   <div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
                 <div class="card hover-card shadow mb-4">
                     <a href={% url  "article_ua" i.title %} ><img src="{{ i.image.url }} " class="card-img-top" width="100%" height="auto"></a>
                        <div class="card-body">
                            <h4 class="card-title pt-4 p-2 "><a href="{% url "article_ua" i.title %}">{{ i.title_ua }}</a></h4>
                            <p class="card-text text1 p-2">{{ i.short_text_ua|safe }}</p>
                            <div class="d-flex flex-row p-2">
                                <a href = "{% url  "article_ua" i.title %}" class="mr-auto">Читати далі <i class="fas fa-arrow-right align-middle"></i></a>
                                <p class="card-text"><small class="text-muted"><i class="far fa-calendar-alt pr-1"></i>{{ i.date|date:"d-m-Y" }}</small></p>
                            </div>
                        </div>
                 </div>
                </div>
            {% endfor %}
         </div>
               {% else %}
         <div class="marg alert alert-danger " role="alert">
             Не знайдено результатів
         </div>
         {% endif %}
{% endblock %}